body {
    background-color: peachpuff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    transition: transform 0.6s ease;
    transform: translateX(0);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vw 70vw 1fr;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: rgb(50, 50, 50);
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 172px 1fr 25vw;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1;
}

.menu-button {
    grid-column: 3;
    background-color: rgb(92, 92, 92);
}

.menu {
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
}

.show-menu {
    transform: translateX(-75%);
}



.gallery {
    grid-row: 2;
    background-color: rgb(199, 199, 199);
}

/* semantic elements ??? */
.section {
    grid-row: 3;
    background-color: rgb(50, 50, 50);
}

.info {
    margin: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #fff;

}

@media only screen and (min-device-width: 600px) {
    body {
      background-color: rgb(172, 145, 36);
    }
  }
  