<div class="wrapper">
    <div class="menu">
            <ul>
                <li>T</li>
                <li>E</li>
                <li>S</li>
                <li>T</li>
            </ul>
    </div>
    <div class="container">
        <nav>
            <div class="logo"></div>
            <div class="menu-button" onclick="toggleMenu()"></div>
        </nav>

        <div class="gallery"></div>
        <div class="section">
            <div class="info"><p>Lite om orkestern</p></div>
        </div>
    </div>
</div>