<div class="wrapper">
    <div class="menu">
            <ul>
                <li><a href="konserter.html">Konserter</a></li>
                <li><a href="provspela.html">Provspela</a></li>
                <li><a href="orkestern.html">Orkestern</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="samarbeten.html">Samarbeten</a></li>
            </ul>
    </div>
    <div class="container">
        <nav>
            <div class="logo"><p><a href="index.html">VÄGUS</a></p></div>
            <div class="menu-button" onclick="toggleMenu()">
                <i class="menu-icon material-icons">menu</i>
                <i class="close-icon material-icons">close</i>
            </div>
        </nav>

        <div class="fade-plane"></div>

        <div class="gallery">
            <img src="img/EdwardOrchestra.png" alt="">
        </div>
        <div class="section">
            <div class="info"><p>Klassiskt kan vara alldeles oemotståndligt och hur coolt som helst. Samtidigt. Västra Götalands Ungdomssymfoniker är inte bara formidabla musiker utan behärskar också konsten att spela klassiskt på ett sätt som inte lämnar någon utanför.</p><p>Musikerna är mellan 14 och 20 år, och för många blir Vägus ett minne för livet. Att vara en del av en symfoniorkester med 80 av Västra Götalands bästa unga musiker är en känsla utöver det vanliga.</p></div>
        </div>
    </div>
</div>


<!-- TODO:
Icon packages typ
Meny kolla med ikon
En vanlig delsida
Bildgalleri
-->