<div class="container">
    <nav>
        <div class="logo"></div>
        <div class="menubutton"></div>
    </nav>
    <div class="gallery"></div>
    <div class="section">
        <div class="info"><p>Lite om orkestern</p></div>
    </div>
</div>