<div class="wrapper">
        <div class="menu">
                <ul>
                    <li><a href="konserter.html">Konserter</a></li>
                    <li><a href="#">Provspelningar</a></li>
                    <li><a href="#">Orkestern</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Samarbeten</a></li>
                </ul>
        </div>
        <div class="container">
            <nav>
                <div class="logo"><p><a href="index.html">VÄGUS</a></p></div>
                <div class="menu-button" onclick="toggleMenu()"><i id="menu-icon" class="material-icons">menu</i></div>
            </nav>
    
            <div class="konserter"></div>
        </div>
    </div>