<div class="wrapper">
    <div class="menu">
            <ul>
                <li><a href="konserter.html">Konserter</a></li>
                <li><a href="provspela.html">Provspela</a></li>
                <li><a href="orkestern.html">Orkestern</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="samarbeten.html">Samarbeten</a></li>
            </ul>
    </div>
    <div class="container">
        <nav>
            <div class="logo"><p><a href="index.html">VÄGUS</a></p></div>
            <div class="menu-button" onclick="toggleMenu()">
                <i class="menu-icon material-icons">menu</i>
                <i class="close-icon material-icons">close</i>
            </div>
        </nav>
        
        <div class="fade-plane"></div>

        <div class="info-container">
            <div class="info"><p>In ut convallis leo. Ut ut laoreet est, nec malesuada neque. Sed ut libero a nisi semper consequat. Etiam in nulla fringilla, maximus nisl in, ultrices leo. Donec rutrum quam ac erat euismod mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget nisi vulputate, imperdiet nulla vitae, facilisis lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Proin elit sapien, commodo eget dolor id, interdum sollicitudin erat. Quisque efficitur augue sed est pharetra eleifend. Phasellus blandit nisl at mauris suscipit auctor. Nunc maximus libero et risus eleifend, in bibendum lectus sagittis.</p></div>
        </div>
    </div>
</div>