<div class="wrapper">
    <div class="menu">
            <ul>
                <li><a href="konserter.html">Konserter</a></li>
                <li><a href="provspela.html">Provspela</a></li>
                <li><a href="orkestern.html">Orkestern</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="samarbeten.html">Samarbeten</a></li>
            </ul>
    </div>
    <div class="container">
        <nav>
            <div class="logo"><p><a href="index.html">VÄGUS</a></p></div>
            <div class="menu-button" onclick="toggleMenu()">
                <i class="menu-icon material-icons">menu</i>
                <i class="close-icon material-icons">close</i>
            </div>
        </nav>
        
        <div class="fade-plane"></div>

        <div class="info-container">
            <div class="info"><p>Samarbeten</p></div>
        </div>
    </div>
</div>