html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    background-color: black;
    overflow-y: auto;
    opacity: 1;
    width: auto;
    height: auto;
    transition: transform 0.4s ease;
    transform: translateX(0);
    float: left;
    min-width: 100%;
    overflow-y: visible;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vw 70vw 1fr;
    width: 100vw;
    height: auto;
    transition: opacity 0.4s ease;
}

nav {
    background-color: rgb(50, 50, 50);
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 172px 1fr 25vw;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1;
}

.menu-button {
    grid-column: 3;
    background-color: rgb(92, 92, 92);

}

.menu {
    position: fixed;
    background-color: rgb(148, 148, 148);
    height: 100000%;
    width: 100%;
    
    transform: translateX(100%);
}

.menu ul {
    padding-left: 10vw;
}

.menu li {
    list-style-type: none;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 20px;
}

.menu a {
    color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-decoration: none;
}

.menu a:visited {
    color: white;
}

.show-menu {
    transform: translateX(-75%);
}

.fade {
    opacity: 0.5;
}

.no-scroll {
    overflow-y: hidden;
}

.gallery {
    grid-row: 2;
    background-color: rgb(199, 199, 199);
}

/* semantic elements ??? */
.section {
    grid-row: 3;
    background-color: rgb(50, 50, 50);
}

.info {
    margin: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background-color: #fff;
}

.info p {
    padding: 10px;
    font-size: 15px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-device-width: 600px) {
    body {
      background-color: rgb(172, 145, 36);
    }
  }
  